@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'fonts';
@import 'icons';

$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1248px;
$md1: $maxWidthContainer + 40px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 575.98px;

$fontFamily: 'Roboto', sans-serif;

@import 'null';

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    @media (max-width: $md1) {
        max-width: none;
        padding: 0 20px;
    }
}

@import './sections/header';
@import './sections/footer';
