.contacts {
    padding-bottom: 23px;
    display: flex;
    gap: 20px;
    //align-items: baseline;
    @media (max-width: (950px)) {
        gap: 20 / 950 * 100%;
    }
    @media (max-width: (750px)) {
        flex-direction: column;
        gap: 16px;
    }
    &__spoiler {
        background: #efefef;
        border: 1px solid #c2c2c2;
        border-radius: 8px;
        padding: 21px 20px 20px 23px;
        max-width: 444px;
        @media (max-width: (460px)) {
            padding: 16px 20px 15px 23px;
        }
        @media (max-width: (950px)) {
            width: 465 / 950 * 100%;
        }
        @media (max-width: (750px)) {
            width: 100%;
            max-width: initial;
        }
        iframe {
            @media (max-width: (950px)) {
                width: 100%;
                min-height: 201px;
            }
        }
        &-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            gap: 10px;
            &.active svg {
                transform: rotate(45deg);
            }
        }
        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 22 / 16 * 100%;
            color: #333333;
            @media (max-width: (460px)) {
                font-size: 14px;
            }
        }
        &-btn {
            background: transparent;
            display: none;
            svg {
                transition: 0.2s;
                @media (max-width: (460px)) {
                    width: 14px;
                }
            }
            @media (max-width: (750px)) {
                display: block;
            }
        }
        &-block {
            margin-top: 15px;
            line-height: 24px;
            span {
                font-weight: 700;
            }
        }
        &-email {
            color: #004991;
        }
        &-qrCode {
            display: flex;
            gap: 23px;
            margin-top: 40px;
            margin-bottom: 33px;
            & > div {
                min-width: 161px;
                img {
                    height: 158px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            p {
                font-weight: 700;
            }
        }
        &-text {
            transition: 0.2s;
            display: flex;
            flex-direction: column;
            height: calc(100% - 22px);
            @media (max-width: (750px)) {
                overflow: hidden;
                max-height: 0;
            }
        }
        &-wrapper {
            flex: 1 1 auto;
        }
    }
}
