.crumbs {
    margin-top: 16px;
    margin-bottom: 31px;
    &__list {
        display: flex;
        &-item {
            display: flex;
            align-items: center;
        }
        &-item:not(:first-child) {
            &:before {
                content: '/';
                margin: 0 8px;
                color: #c2c2c2;
            }
        }
        &-link {
            color: #c2c2c2;
            font-size: 12px;
            font-weight: 600;
            line-height: 100%;
        }
    }
}
