.footer {
    padding: 30px 0;
    background: #004991;
    &__text {
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: white;
        span {
            text-transform: initial;
        }
    }
    &__nav {
        margin: 0 20px;
        @media (max-width: ($md3 + px)) {
            margin: 0 0 0 20px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        @media (max-width: ($md3 + px)) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__link {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: white;
    }
    &__images {
        display: flex;
        gap: 24px;
        margin-top: 37px;
        justify-content: flex-end;
        @media (max-width: ($md3 + px)) {
            justify-content: center;
        }
        @media (max-width: ($md5 + px)) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__flex {
        display: flex;
        gap: 66px;
        &-block {
            min-width: 194px;
            @media (max-width: ($md3 + px)) {
                min-width: auto;
            }
        }
        @media (max-width: ($md2 + px)) {
            gap: 20px;
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        gap: 20px;
        ul {
            display: flex;
            gap: 10px;
            li {
                a {
                    width: 26px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 26px;
                    background: #012a52;
                    border-radius: 3.75736px;
                    &:before {
                        color: white;
                    }
                }
                a.icon-6 {
                    font-size: 13px;
                }
                a.icon-7 {
                    font-size: 15px;
                }
            }
        }
    }
}
