.header {
    padding-top: 9px;
    background-color: #004991;
    &__flex-block,
    &__flex-block2 {
        display: flex;
    }
    &__flex-block2 {
        flex: 1 1 auto;
        align-items: center;
        @media (max-width: (974px)) {
            flex-direction: column-reverse;
            align-items: flex-end;
            gap: 12px;
            grid-gap: 12px;
        }
    }
    &__logo {
        margin-left: 13px;
        @media (max-width: (740px)) {
            margin-left: 0;
        }
        img {
            @media (max-width: (670px)) {
                width: 202px;
            }
        }
        &-text {
            font-weight: 600;
            font-size: 11px;
            line-height: 12px;
            color: #004991;
            text-align: right;
            white-space: nowrap;
            color: white;
            @media (max-width: (670px)) {
                font-weight: 600;
                font-size: 8px;
                line-height: 8px;
            }
        }
    }
    &__search2 {
        position: relative;
        margin-bottom: 24px;
        @media (min-width: (671px)) {
            display: none;
        }
    }
    &__search {
        margin-left: 32px;
        position: relative;
        width: 397 / 1142 * 100%;
        flex: 1 1 auto;
        @media (max-width: (974px)) {
            width: 330px;
            margin-right: 70px;
            margin-left: 0;
        }
        @media (max-width: (820px)) {
            width: 100%;
        }
        @media (max-width: (670px)) {
            display: none;
        }
        &-inp {
            background: #efefef;
            border-radius: 20.5px;
            font-size: 14px;
            line-height: 23px;
            color: #707070;
            padding-left: 27px;
            height: 35px;
            width: 100%;
        }
        &-btn {
            position: absolute;
            right: 1px;
            top: 1px;
            background: #004991;
            border-radius: 20.5px;
            width: 78px;
            height: 33px;
            &:before {
                color: white;
                font-size: 20px;
            }
        }
    }
    &__flex {
        display: flex;
        padding-left: 80px;
        margin-top: 9px;
        align-items: center;
        justify-content: space-between;
        @media (max-width: (974px)) {
            align-items: flex-start;
        }
        @media (max-width: (740px)) {
            padding-left: 0;
        }
    }
    &__container {
        position: relative;
        &-logo {
            position: absolute;
            top: -9px;
            @media (max-width: (740px)) {
                display: none;
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 3px;
        grid-gap: 3px;
        @media (max-width: (670px)) {
            display: none;
        }
    }
    &__wrapper2 {
        display: flex;
        gap: 17px;
        grid-gap: 17px;
        justify-content: center;
        @media (min-width: (671px)) {
            display: none;
        }
    }
    &__block {
        margin-left: 21px;
        display: flex;
        align-items: flex-end;
        &-city {
            font-size: 15.24px;
            line-height: 26px;
            color: #ffe73a;
            @media (max-width: (670px)) {
                font-size: 9px;
                line-height: 26px;
            }
        }
        @media (max-width: (670px)) {
            margin-left: 0;
        }
    }
    &__tel {
        margin-left: 15px;
        a {
            font-weight: 600;
            font-size: 10.26px;
            line-height: 13px;
            color: white;
            display: flex;
            white-space: nowrap;
        }
        &-icon {
            margin-left: 5px;
            font-weight: 700;
            font-size: 18.24px;
            line-height: 26px;
            margin-top: -5px;
            position: relative;
            white-space: nowrap;
            &::before {
                content: url('../img/icon-4.png');
                position: absolute;
                right: -20px;
                font-size: 16px;
                color: #969696;
                @media (max-width: (670px)) {
                    display: none;
                }
            }
            @media (max-width: (670px)) {
                font-weight: 700;
                font-size: 14px;
                line-height: 26px;
            }
        }
        &-time {
            font-size: 12px;
            color: #ffe73a;
            margin-left: 25px;
            @media (max-width: (670px)) {
                display: none;
            }
        }
    }
    &__basket {
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            background: #d00808;
            border-radius: 50%;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: white;
            position: relative;
        }
        &:before {
            position: absolute;
            font-size: 42px;
            color: white;
            z-index: -2;
            left: 4px;
            top: 0;
            z-index: 0;
        }
        @media (max-width: (670px)) {
            padding-right: 50px;
        }
    }
    &__nav {
        margin-top: 17px;
        padding: 12px 0;
        background: #004991;
        @media (max-width: (974px)) {
            padding: 0;
        }
        &-container {
            display: flex;
            justify-content: flex-end;
            @media (max-width: (360px)) {
                position: relative;
            }
        }
        &-grid {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            grid-gap: 20px;
            display: grid;
            @media (max-width: (670px)) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: (470px)) {
                grid-template-columns: 1fr;
            }
        }
        &-title {
            font-size: 16px !important;
            font-weight: 600 !important;
            @media (max-width: (470px)) {
                display: flex;
                justify-content: space-between;
                &.asd::after {
                    content: url('../img/icon-5.png');
                }
            }
        }
        &-item {
            margin: 0 15px;
            position: relative;
            &:hover {
                .header__nav-sublist {
                    visibility: visible;
                    opacity: 1;
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &:nth-child(7) {
                .header__nav-sublist {
                    @media (max-width: (1380px)) {
                        right: 0;
                    }
                }
            }
        }
        &-sublist {
            position: absolute;
            top: 33px;
            background: #004991;
            border-radius: 12px;
            width: 330px;
            padding: 8px 6px;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            transition: 0.5s;
            li {
                a {
                    display: block;
                    padding: 10px 17px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: white;
                    transition: 0.5s;
                    border-radius: 8px;
                    &.active {
                        background: #023970;
                    }
                    &:hover {
                        background: #023970;
                    }
                }
            }
            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
        &-list {
            display: flex;
            padding-left: 100px;
            row-gap: 10px;
            grid-row-gap: 10px;
            flex-wrap: wrap;
            @media (max-width: (974px)) {
                display: none;
            }
        }
        &-list2 {
            position: absolute;
            left: 0;
            right: 0;
            background: #004991;
            border-radius: 12px;
            top: 140px;
            padding: 23px 32px;
            z-index: 2;
            display: grid;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            ul {
                li {
                    a,
                    span {
                        color: white;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 26px;
                        cursor: pointer;
                    }
                }
            }
            &.active {
                opacity: 1;
                visibility: visible;
            }
            @media (max-width: (670px)) {
                top: 108px;
            }
            @media (max-width: (360px)) {
                top: 2px;
            }
        }
        &-item2:not(:last-child) {
            margin-bottom: 20px;
        }
        &-item2 {
            ul {
                @media (max-width: (470px)) {
                    display: none;
                }
                &.active {
                    display: block;
                }
            }
        }
        &-link {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: white;
            position: relative;
            display: flex;
            align-items: center;
            white-space: nowrap;
            transition: 0.5s;
            cursor: pointer;
            &:before {
                position: absolute;
                font-size: 6px;
                right: -15px;
            }
            &.active {
                color: #ffe73a;
            }
            &:hover {
                color: #ffe73a;
            }
        }
        &-icon {
            display: none;
            @media (max-width: (974px)) {
                display: block;
                position: absolute;
                width: 31px;
                height: 24px;
                cursor: pointer;
                z-index: 3;
                order: 1;
                top: 90px;
                right: 20px;
                span {
                    transition: all 0.3s ease 0s;
                    top: calc(50% - 2px);
                    left: 0px;
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: white;
                    border-radius: 6px;
                    &:first-child {
                        top: 0px;
                    }
                    &:last-child {
                        top: auto;
                        bottom: 0px;
                    }
                }
            }
            @media (max-width: (670px)) {
                top: 30px;
            }
            @media (max-width: (360px)) {
                top: -80px;
            }
            &.active {
                span {
                    background-color: #ffe73a;
                }
            }
        }
    }
}
