.header {
    padding-top: 9px;
    &__logo {
        margin-left: 13px;
        &-text {
            font-weight: 600;
            font-size: 11px;
            line-height: 12px;
            color: #004991;
            text-align: right;
            white-space: nowrap;
        }
        img {
            @media (max-width: ($md2 + px)) {
                width: 200px;
            }
        }
        @media (max-width: ($md2 + px)) {
            margin-left: 0;
        }
    }
    &__search {
        margin-left: 32px;
        position: relative;
        width: 397 / 1142 * 100%;
        @media (max-width: ($md2 + px)) {
            margin-left: 12px;
        }
        @media (max-width: ($md3 + px)) {
            display: none;
        }
        @media (max-width: ($md4 + px)) {
            display: block;
            width: 260px;
            margin-left: 0;
        }
        &-inp {
            background: #efefef;
            border-radius: 20.5px;
            font-size: 14px;
            line-height: 23px;
            color: #707070;
            padding-left: 27px;
            height: 33px;
            width: 100%;
        }
        &-btn {
            position: absolute;
            right: 0;
            background: #004991;
            border-radius: 20.5px;
            width: 78px;
            height: 33px;
            &:before {
                color: white;
                font-size: 20px;
            }
        }
    }
    &__flex {
        display: flex;
        padding-left: 80px;
        margin-top: 9px;
        align-items: center;
        justify-content: space-between;
        @media (max-width: ($md2 + px)) {
            padding-left: 0;
        }
        @media (max-width: ($md4 + px)) {
            flex-direction: column;
            gap: 15px;
        }
    }
    &__container {
        position: relative;
        &-logo {
            position: absolute;
            top: -9px;
            @media (max-width: ($md2 + px)) {
                display: none;
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding-right: 47px;
    }
    &__block {
        margin-left: 21px;
        display: flex;
        gap: 15px;
        align-items: flex-end;
        &-city {
            font-size: 15.24px;
            line-height: 26px;
            color: #004991;
        }
        @media (max-width: ($md4 + px)) {
            margin-left: 0;
        }
    }
    &__tel {
        a {
            font-weight: 600;
            font-size: 10.26px;
            line-height: 13px;
            color: black;
            display: flex;
            gap: 5px;
            white-space: nowrap;
            span {
                font-weight: 700;
                font-size: 18.24px;
                line-height: 26px;
                margin-top: -5px;
                position: relative;
                white-space: nowrap;
                &::before {
                    position: absolute;
                    right: -45px;
                    font-size: 16px;
                    color: #969696;
                    top: 3px;
                }
                @media (max-width: ($md3 + px)) {
                    font-size: 15.24px;
                }
            }
        }
    }
    &__basket {
        padding-left: 30px;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            background: #d00808;
            border-radius: 50%;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: white;
        }
        &:before {
            position: absolute;
            font-size: 42px;
            color: #004991;
            z-index: -2;
            left: 4px;
            top: 0;
        }
    }
    &__nav {
        margin-top: 17px;
        padding: 20px 0;
        background: #004991;
        &-container {
            display: flex;
            justify-content: end;
        }
        &-list {
            display: flex;
            column-gap: 30px;
            padding-left: 100px;
            row-gap: 10px;
            flex-wrap: wrap;
            @media (max-width: ($md2 + px)) {
                padding-left: 0;
            }
            @media (max-width: ($md4 + px)) {
                justify-content: center;
            }
        }
        &-link {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: white;
            position: relative;
            display: flex;
            align-items: center;
            white-space: nowrap;
            &:before {
                position: absolute;
                font-size: 6px;
                right: -15px;
            }
        }
    }
}
