.partners{
	&__inner{
		padding: 111px 0 91px 0;
	}
	&__title{
		@include fontText(Roboto, 16px, 400);
		line-height: 22 / 16 * 100%;
		color: #111111;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: block;
		text-align: center;
		margin-bottom: 5px;
	}
	&__items{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -20px;
		& img{
			margin: 20px;
		}
	}
}